# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

.packages

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
.gradle/
local.properties
**/android/**/generated/
**/android/gen/

# iOS/macOS 관련
.generated/
Pods/
ServiceDefinitions.json
Runner.xcworkspace/
xcuserdata/
DerivedData/
*.moved-aside

# Firebase 사용 시 (필요에 따라)
google-services.json
GoogleService-Info.plist

# 보안 및 환경 변수
.env
*.env.*
ios/Flutter/Debug.xcconfig
firebase.json
android/key.properties
android/upload-keystore.jks
functions/.env

# OS 관련
Thumbs.db

lib/firebase_options.dart
